IO_LOC  "C" 31;

IO_LOC  "R" 32;

IO_LOC  "S2" 55;
IO_PORT "S2" PULL_MODE=DOWN;

IO_LOC  "S1" 56;
IO_PORT "S1" PULL_MODE=DOWN;

IO_LOC  "S0" 57;
IO_PORT "S0" PULL_MODE=DOWN;

IO_LOC  "B" 68;
IO_PORT "B" PULL_MODE=DOWN;

IO_LOC  "A" 69;
IO_PORT "A" PULL_MODE=DOWN;
